.wrap {
    display: block;
}
#sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -17%;
    z-index: 9999;
    opacity: 0;
    background-color: rgba(124, 111, 111,0.9);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}
#sidebar.active {
    transition: all 0.5s ease-in-out;
    width: 17%;
    right: 0; 
    opacity: 1;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 998;

}
.overlay.active {
    display: flex;
    transition: all 0.9s ease-in-out;
    background-color:rgba(24, 23, 23, 0.541);
}
.sidebar-header{
    text-align: center;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

}
.sidebarBtn{
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: rgba(81, 85, 145, 0.7);
    box-shadow: 2px 2px 5px rgba(34, 33, 33, 0.5);
}
#sidebarCollapse{
    position: absolute;
    top:10px;
    right: 10px;
}
.navHead{
    height: 45px;
    background-color: rgba(19, 18, 18, 0.8);
}
.nav{
    display: -webkit-inline-flex;
    text-decoration: none;
    margin: 10px;
    color: rgb(72, 110, 182);
}
.Nav{
    height: 55px;
    background-color: rgba(70, 70, 75, 0.8);
    
}

.closesub{
    transition: all 0.9s ease-in-out;
    display: none;
    
}
.toggle{
    border-radius: 10px;
    left: 20px;
    padding: 5px;
    background-color: rgba(146, 139, 139, 0.9);

}
.sidenav{
    padding: 30px;
    background-color: rgba(82, 71, 71, 0.349);
    padding-left: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    color: rgb(68, 64, 64);
}
a{
    color: rgb(56, 51, 51);
}

#header{
    height: 900px;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    opacity: 0.7;
    font-size: 60px;
    text-align: center;
    float: center;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(114, 89, 89);
}
.Header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60px; 
    opacity: 0.9;
    font-size: 70px;
    font-weight: 600;
}
.lowerHeader{
    opacity: 0.6;
    font-size: 40px;
    font-weight: 100;
}
.info{
    padding:30px;
}
.myContainer{
    background-color: rgb(211, 181, 181);
    width: 100vw;
}
.container{
    color: rgb(65, 70, 78);
}

.images{
    font-size: 70px;
    padding: 17px;
}
.page-footer{
    color: rgb(87, 85, 85);
}
body, head, header{
    margin: 0;
    padding: 0;
    background-color: rgb(14, 12, 12);
}

